name: Rename assets and release

on:
  workflow_dispatch:
  schedule:
    - cron: "45 23 * * 5"
  push:
  pull_request:

jobs:
  rlr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      RLTAG: rrl-weekly
      FILEN: rime-lmdg-dicts

    steps:
      - name: Retrieve script
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Download upstream
        run: |
          curl -L -O -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/amzxyz/RIME-LMDG/releases/download/dict-nightly/dicts.zip"
      
      - name: Unzip file
        run: |
          unzip dicts.zip
          mv dicts extracted
          mkdir ./processed
      
      - name: Kill name fixer
        run: |
          python restore-naming.py
      
      - name: Repack dictionary
        run: |
          mv processed dicts
          zip -9vr ./${FILEN}.zip ./dicts

      - name: Create release
        uses: andelf/nightly-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.RLTAG }}
          name: "Weekly Update"
          prerelease: false
          body: |
            - `dicts.zip`：经过重命名的最新中文词库文件。
          files: |
            ./${{ env.FILEN }}.zip
